<h1>SHOW action</h1>

<p>Title <%= @post.title %></p>
<p>Description: <%= @post.description %></p>

<p>
  <%= link_to'Back to all posts listenner', posts_path %> | <%= link_to'edit this post', edit_post_path %>
</p>